font-family: 'Spartan', ;
font-family: 'Montserrat', ;
font-family: 'Roboto Slab', ;

body {
  align-items: center;
  font-family: 'Montserrat';
}
.welcome {
  background-image: ;
  text-align: center;
  font-size: 50px;
  font font-family: 'Montserrat';

}

.pepperoni {
  display: none;
}
.periperi {
  display: none;
}
.bbq {
  display:none;
}
.hawaiian {
  display: none;
}
.chicken {
  display: none;
}
.meat {
  display: none;
}
.boerowores {
  display: none;
}
.veg {
  display: none;
}
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
#pizza {
  cursor: pointer;
}
quantity-btn-color: #95d7fc;
.product {
	width: 30%;
	margin: 30px;
}
.form-group {
	width: 30%;
	margin: 30px;
	.glyphicon {
	color: $quantity-btn-color;
	}
}
.footer {
text-align: center;
padding: 2rem;
font-weight: bold;
text-transform: capitalize;
}
.socials {
padding: 2rem;
}
.social {
width: 2rem;
margin: 1rem;
}
